{% extends "partials/_layout.njk" %}

{% block content %}
<main class="l-main">
    <div class="c-container">
        <section class="c-hero">
            <span class="c-hero__emoji">🎄 🎁  ️❄️</span>
            <div class="c-hero__heading">
                <span>🧦</span>
                <h1 class="">Boldog<br>Karácsonyt Réka!<br>és nagyon Boldog Szülinapot!</h1>
                <span>❤️</span>
            </div>
            <span class="c-hero__emoji">🎂 🎉 🍾</span>
            <span class="c-hero__we"><strong>Puszi:</strong><br>
            Adrika & Szabi
            </span>
        </section>
        <section class="c-teaser">
            <span class="c-teaser__text">Szép ajándék a sör. Egyébről nincs is szó? 🤔</span>
        </section>
        <section class="c-teaser">
            <span class="c-teaser__text">Lentebb esetleg kiderül, van-e még egyéb.</span>
        </section>
        <section class="c-teaser">
            <span class="c-teaser__text">Még kicsit lentebb derül ki.</span>
        </section>
        <section class="c-carousel">
            <div class="c-container">
                <div class="c-carousel__inner">
                    <div class="c-carousel__cell">
                        <img src="img/1498861243762.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/1498862013947.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/1498864168901.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/1498861402254.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/1498861206508.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/1498869457966.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/1505986885959.jpg" alt="">
                    </div>
                    <div class="c-carousel__cell">
                        <img src="img/tulips-antwerp-beer-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="c-teaser">
            <span class="c-teaser__text">Megvan már így? 🙂</span>
        </section>
        <section class="c-teaser">
            <span class="c-teaser__text">Nos, erre gondoltunk:</span>
        </section>
        <section class="c-info">
            <div class="c-container">
                <div class="c-info__inner">
                    <div class="c-info__row">
                        <span><strong>Hol?</strong></span>
                        <span>Antwerpen</span>
                    </div>
                    <div class="c-info__row">
                        <span><strong>Mi?</strong></span>
                        <ul>
                            <li>Retúr repjegy CPH - CRL (Brussels Charleroi) között</li>
                            <li>Charleroi - Antwerpen busz- és vontjegy</li>
                            <li>2 éjszaka vmi booking.com-os szálláson, Adrikával és velem. Köszösen választjuk ki a kérót.</li>
                        </ul>
                    </div>
                    <div class="c-info__row">
                        <span><strong>Mikor?</strong></span>
                        <span>Együtt döntjük el, de valamikor április vége - május eleje tök jó lehet. Döntsünk mihamarabb!</span>
                    </div>
                </div>
                <span class="c-info__heart">❤️</span>
            </div>
        </section>
    </div>
</main>
{% endblock %}